.card-body {
  padding: 0;
}

#social-media-button {
  background-color: white;
  height : 2rem;
  width : 2rem;
  margin-left : 0.5rem;
  margin-right : 0.5rem;
  border : 1px solid black;
  border-radius : 0.4rem;
}

#social-media-buttons {
  opacity: 75%;
}