.card-body {
  padding: 0;
}

#social-media-button {
  background-color: white;
  height : 2rem;
  width : 2rem;
  margin-left : 0.5rem;
  margin-right : 0.5rem;
  border : 1px solid black;
  border-radius : 0.4rem;
}

#social-media-buttons {
  opacity: 60%;
}

body {
  align-content: center;
}

#center-div {
  display: flex;
}

#inline {
  flex:1
}

#main-div {
  max-width : 10000px;
  height : auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}