* {
  border: 0;
}

.card-body {
  padding: 0;
}

#social-media-button {
  background-color: white;
  height : 2rem;
  width : 2rem;
  margin-left : 0.5rem;
  margin-right : 0.5rem;
  border : 1px solid black;
  border-radius : 0.4rem;
}

#social-media-buttons {
  opacity: 60%;
}

.text-center {
  text-align: center;
}

body {
  align-content: center;
  background-color: #48cae4;
}

#card-1-color {
  border-radius: 0.3rem;
  background-color: #023e8a;
  color : white;
}

#card-2-color {
  border-radius: 0.3rem;
  background-color: #caf0f8;
}

#center-div {
  display: flex;
}

#inline {
  flex:1
}

#main-div {
  max-width : 10000px;
  height : auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#forgotpass {
  text-decoration: none;
  color: blue;
}