* {
  border: 0;
}

.card-body {
  padding: 0;
}

.padding-wb {
  padding-top: 2rem;
  padding-bottom: 0.25rem;
}

.padding-wb-desc {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: 1rem;
}

.padding-ca {
  padding-top: 1rem;
  padding-bottom: 1rem;
}


.padding-uyefr {
  padding-top: 1rem;
}

.padding-signup-main {
  padding-top: 1rem;
}

.padding-name {
  padding-right: 3rem;
  padding-left: 2rem;
}


.pass-input-box {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.eye-button-pass {
  background-color: white;
}

#social-media-button {
  background-color: white;
  height : 2rem;
  width : 2rem;
  margin-left : 0.5rem;
  margin-right : 0.5rem;
  border : 1px solid black;
  border-radius : 0.4rem;
}

#social-media-buttons {
  opacity: 60%;
}

.text-center {
  text-align: center;
}

body {
  align-content: center;
  background: linear-gradient(45deg, rgb(132, 0, 255), rgb(11, 175, 120))
}

#card-1-color {
  border-radius: 0.3rem;
  background-color: #023e8a;
  color : white;
}

#card-2-color {
  border-radius: 0.3rem;
  background-color: #caf0f8;
}

#inline {
  flex:1
}

#main-div {
  max-width : 10000px;
  height : auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#forgotpass {
  text-decoration: none;
  color: blue;
}


.div-pass-input {
  width: 100%
}


@media (min-width: 1001px) {
  #center-div {
    display: flex;
    width: 56rem;
  }
  .card1width {
    width: 67%;
  }
  .card2width {
    width: 33%;
  }
  .display2 {
    display : none;
  }

  
  .merging-box-1 {
    border-right: 0px;
    border-radius: 1rem;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    background-color: #caf0f8;
  }


  .merging-box-2 {
    border-left: 0px;
    border-radius: 1rem;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }
  
  #card-1-color {
    border-radius: 1rem;
    background-color: #023e8a;
    color : white;
  }

  #card-2-color {
    border-radius: 1rem;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    background-color: #caf0f8;
  }
}

@media (max-width: 1000px) {
  #center-div {
    width: 70%;
  }
  .display1 {
    display : none;
  }

  
  .merging-box-3 {
    border-bottom: 0px;
    border-radius: 1rem;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }


  .merging-box-4 {
    border-top: 0px;
    border-radius: 1rem;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    background-color: #caf0f8;
  }
  
  #card-1-color {
    border-radius: 1rem;
    background-color: #023e8a;
    color : white;
  }
  
  #card-2-color {
    border-radius: 1rem;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    background-color: #caf0f8;
  }
}

.no-wrap-label {
  white-space: nowrap;
}